<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loto.hotsearch.dao.mapper.baidu.BaiDuHotContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loto.hotsearch.dao.entity.baidu.BaiDuHotContent">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="desc1" property="desc1" />
        <result column="hot_score" property="hotScore" />
        <result column="hot_tag" property="hotTag" />
        <result column="img" property="img" />
        <result column="index1" property="index1" />
        <result column="query1" property="query1" />
        <result column="is_top" property="isTop" />
        <result column="info_id" property="infoId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        url, desc1, hot_score, hot_tag, img, index1, query1, is_top, id, info_id
    </sql>

</mapper>
