<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loto.hotsearch.mapper.snow.SnowflakeWorkerMapper">

    <!-- 开启二级缓存 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loto.hotsearch.entity.snow.SnowflakeWorker">
        <id column="module_name" property="moduleName"/>
        <result column="id" property="id"/>
        <result column="host_address" property="hostAddress"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , module_name, host_address, created_time, modified_time
    </sql>

    <!-- 创建雪花工作者语句 -->
    <insert id="create">
        insert into t_snowflake_worker
        ( id
        , module_name
        , host_address
        , created_time
        ) values
        ( #{create.id}
        ,
        #{create.moduleName}
        , #{create.hostAddress}
        <choose>
            <when test="create.createdTime != null">
                , #{create.createdTime}
            </when>
            <otherwise>
                , current_timestamp
            </otherwise>
        </choose>
        )
    </insert>

    <!-- 获取我的工作者标识语句 -->
    <select id="getMyWorkerId" resultType="java.lang.Long">
        select id
        from t_snowflake_worker
        where module_name = #{moduleName}
          and host_address = #{hostAddress}
    </select>

</mapper>
